extends layout

block content
  main.delete
    h1 Delete #{film_sim.name}
    if recipe_list.length > 0
      p Please make sure to delete these recipes 
        | before deleting the film simulation
      .recipe_list
        for recipe in recipe_list
          a(href=recipe.url) #{recipe.name}
    else
      p Are you sure you want to delete this film simulation?
      form(method="POST")
        .form-input
          input#filmsimid(type="hidden" name="filmsimid" value=film_sim._id)
        button(type="submit") Delete