extends layout 

block content  
  main.film-simulations
    h1= title
    if filmsim_list.length > 0
      .simulations
        for sim in filmsim_list
          a(href=sim.url) #{sim.name}
    else
      p No Film Simulations currently.
    a.create(href="/film-sims/create") + Create Film Simulation Entry