doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
        h1 FUJIFILM COOKBOOK
        p Let's start cookin' with these recipes!
    nav 
      a(href="/recipes") Recipes
      a(href="/film-sims") Film Simulations 
      a(href="/sources") Sources
    block content