extends layout 

block content  
  main.recipes
    h1= title
    if recipe_list.length > 0
      .recipe_list
        for recipe in recipe_list
          a(href=recipe.url) #{recipe.name}
    else
      p No recipes currently.
    a.create(href="/recipes/create") + Create Recipe Entry