extends layout

block content
  main.form
    h1 #{title}
    form(method="POST")
      .form-input
        label(for="name") Name:
        input#name(type="text" name="name" required
          value=(source === undefined ? "" : source.name))
      .form-input
        label(for="description") Description:
        textarea#description(name="description" rows="3" 
          cols="25")= source === undefined ? "" : source.description
      button(type="submit") Submit

    if errors
      ul
        for error in errors
          li!= error.msg
