extends layout 

block content  
  main.sources
    h1= title
    if source_list.length > 0
      .source_list
        for source in source_list
          a(href=source.url) #{source.name}
    else
      p No sources currently.
    a.create(href="/source/create") + Create Source Entry