extends layout

block content
  main.delete
    h1 Delete #{source.name}
    if recipe_list.length > 0
      p Please make sure to delete these recipes 
        | before deleting the source
      .recipe_list
        for recipe in recipe_list
          a(href=recipe.url) #{recipe.name}
    else
      p Are you sure you want to delete this source?
      form(method="POST")
        .form-input
          input#sourceid(type="hidden" name="sourceid" value=source.id)
        button(type="submit") Delete