* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1500px;
  margin: auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

nav {
  display: flex;
  gap: 2.5rem;
  justify-content: center;

  padding-bottom: 1rem;
  margin: 2rem 0;
  border-bottom: 1px solid black;
}

li {
  color: red;
}

a {
  text-decoration: none;
  color: black;
}

nav a {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
  background-image: linear-gradient(black, black);
  background-size: 0% 0.1rem;
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

nav a:hover {
  background-size: 100% 0.1rem;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16rem;
  gap: 0.8rem;
}

.home a {
  background-color: rgb(52, 117, 214);
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
}

.home a:hover {
  opacity: 90%;
}

.home a:active {
  opacity: 70%;
}

.film-simulations,
.recipes,
.recipe-detail,
.sources,
.form,
.delete {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.film-simulations a,
.recipes a,
.sources a {
  font-size: 1.1rem;
}

.film-simulations a:hover,
.recipes a:hover,
.sources a:hover,
.delete a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.simulations,
.recipe_list,
.source_list {
  display: flex;
  gap: 2.3rem;
  flex-wrap: wrap;
}

.settings,
.film-sim,
.source,
.reference {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.recipe-detail a:hover {
  text-decoration: underline;
}

.color-fx,
.hs-curve,
.white-balance,
.noise-settings {
  display: flex;
  gap: 1.5rem;
}

a.create {
  color: grey;
  font-size: 0.9rem;
  width: fit-content;
}

a.create:hover {
  text-underline-offset: 0.1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.form-input input {
  padding: 2px;
}

.form-input textarea {
  padding: 6px;
}

form button {
  width: fit-content;
  padding: 8px 15px;
  background-color: rgb(41, 89, 248);
  color: white;
  border-radius: 4px;
  border: none;
}

form button:hover {
  opacity: 90%;
  cursor: pointer;
}

form button:active {
  opacity: 70%;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.action-buttons a {
  color: rgb(136, 126, 126);
  font-size: 1rem;
}